pandas
streamlit
langchain
python-dotenv
langchain-google-genai

langchain-core
beautifulsoup4
langchain-openai
requests


sentence-transformers>=2.2.2
faiss-cpu>=1.7.4
scikit-learn>=1.3.0
numpy>=1.24.0
altair>=4.2.0  # Versi yang kompatibel


